.footer{
    padding: 60px; 
    background-color: black;
    text-align: center;
    color: white;
    height: 31vh;
}
.footer_content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

}
.footer_content p {
    margin: 0;
}
h4{
    color: #ffffff;
    font-weight: 300;
}    
h4 span{
    font-weight:bold;
}

.socials{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}
.socials_link{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}