.editprofile{
    margin-left: 2px;
    color: white;
    padding-left: 10px;
    text-align: center;
    align-items: center;
}

.logout{
    margin-left: 2px;
    color: white;
    padding-left: 10px;
    text-align: center;
    align-items: center;
}

.btn:hover{
    color: yellow;
    font-size: 17px;
}

.dropdown-menu.show{
    background-color: rgb(10, 10, 10); 
    float: left;
    margin-left: 17rem;
}