.titulos {
    text-align: start;
    width: 100%;
    margin-bottom: 20px;
}

.generos {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20px;
}

.cards {

    transition: var(--efecto);
    flex-basis: calc((100% / 3) - 20px);
    height: 50%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    cursor: pointer;
    border-radius: 10px;
    margin: 50px;
    flex-direction: column;










}

.card_imagen {
    width: 80px;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: calc(100% - 80px);
}

.album {
    transition: var(--efecto);
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.card_album {

    transition: var(--efecto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc((100% / 4) - 20px);
    margin: 10px;
    background-color: #181818;
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.card_album img {
    width: 50px;
    box-shadow: 5px 4px 10px hsl(0, 0%, 11%);
}

.card_podcast h4 {
    margin-top: 1em;

}

.card_podcast p {

    color: rgba(255, 255, 255, 0.212);
}

.card_podcast a {
    text-decoration: none;
}

.imagen {
    height: auto;
    width: auto;
    /* justify-content: center; */
    border-radius: 5%;
    filter: saturate(200%);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    margin-top: 0px;
    align-self: center;


}